In [1]:
import pandas as pd
data_path = "/Users/arsenchik/Desktop/dipploma/machine_learning_in_hft/algotrading/data/data_processed/data_1min.csv"

In [2]:
data = pd.read_csv(data_path, sep=',')

In [3]:
data

                       Time      Open      High       Low     Close     Volume
0       2022-01-03 23:06:00  46293.89  46363.56  46293.89  46313.06   35.34215
1       2022-01-03 23:07:00  46313.05  46334.60  46262.16  46299.58   16.99444
2       2022-01-03 23:08:00  46299.58  46326.37  46294.44  46294.45   12.07571
3       2022-01-03 23:09:00  46294.44  46310.55  46250.33  46293.49   13.63073
4       2022-01-03 23:10:00  46293.48  46383.68  46290.00  46351.99   31.07135
...                     ...       ...       ...       ...       ...        ...
600003  2023-02-24 15:09:00  23773.32  23779.31  23760.50  23760.92  289.45214
600004  2023-02-24 15:10:00  23760.92  23765.65  23739.00  23751.00  436.08826
600005  2023-02-24 15:11:00  23749.65  23758.98  23721.00  23752.17  600.05702
600006  2023-02-24 15:12:00  23752.17  23760.05  23736.66  23749.49  293.38328
600007  2023-02-24 15:13:00  23750.38  23759.96  23748.46  23756.35   22.74771

[600008 rows x 6 columns]

In [20]:
import os
output_dir_path = "/Users/arsenchik/Desktop/dipploma/machine_learning_in_hft/algotrading/data/data_processed"

In [23]:
months = {
    '2022-05': 'data_may_1min.csv', 
    '2022-06': 'data_june_1min.csv', 
    '2022-07': 'data_july_1min.csv', 
    '2022-08': 'data_august_1min.csv',
    '2022-09': 'data_september_1min.csv',
    '2022-10': 'data_october_1min.csv',
    '2022-11': 'data_november_1min.csv',
    '2022-12': 'data_december_1min.csv',
    '2023-01': 'data_january_1min.csv',
    '2023-02': 'data_february_1min.csv'
}

In [24]:
from tqdm import tqdm
def select_data(df, date):
    start_index = 0
    last_index = 0
    for index, row in tqdm(df.iterrows(), total=df.shape[0]):
        year_month = "-".join(row["Time"].split()[0].split("-")[:-1])
        if year_month == date:
            if start_index == 0:
                start_index = index
            else:
                last_index = index
    return df.iloc[start_index:last_index+1]

In [25]:
for date, name in months.items():
    select_data(data, date).to_csv(os.path.join(output_dir_path,name), index=False)

100%|██████████| 600008/600008 [00:07<00:00, 79170.66it/s]
100%|██████████| 600008/600008 [00:07<00:00, 81392.81it/s]
100%|██████████| 600008/600008 [00:07<00:00, 81084.19it/s]
100%|██████████| 600008/600008 [00:07<00:00, 81287.77it/s]
100%|██████████| 600008/600008 [00:07<00:00, 80688.24it/s]
100%|██████████| 600008/600008 [00:07<00:00, 81118.37it/s]
100%|██████████| 600008/600008 [00:07<00:00, 81346.82it/s]
100%|██████████| 600008/600008 [00:07<00:00, 80874.48it/s]
100%|██████████| 600008/600008 [00:07<00:00, 81174.77it/s]
100%|██████████| 600008/600008 [00:07<00:00, 81187.98it/s]